* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

p {
    font-size: 3rem;
    font-weight: 600;
}

label {
    font-size: 1.5rem;
}

button {
    background-color: #000;
    color: #fff;
    padding: 1.5rem 4rem;
    width: 100%;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s;
}


button:hover {
    transform: scale(1.07);
}

button:active {
    transform: scale(1);
}

.container {
    border-radius: 2rem;
    background-color: #ffffff5a;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 3px #8c8a8a;
    padding: 5rem;
    max-width: 45rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.check-container {
    align-self: flex-start;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

}
/* --- The input boxex  --- */
.text-input {
    padding: 1.5rem 4rem;
    font-size: 2rem;
    border-radius: 3rem;
    border: 1px solid #000;
}

